In [ ]:
#/* Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! */

In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT * 
FROM (
SELECT subquery.F, SUM( subquery.cost ) AS total_revenue
FROM (
SELECT F.name AS F, 
CASE WHEN B.memid =0
THEN F.guestcost * B.slots
ELSE F.membercost * B.slots
END AS cost
FROM Bookings as B
INNER JOIN Facilities as F
ON B.facid = F.facid
INNER JOIN Members as M
ON B.memid = M.memid
) as subquery
GROUP BY subquery.F
)as subquery2
WHERE subquery2.total_revenue <1000
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [ ]:
#/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [14]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT M1.firstname || ' '|| M1.surname as member_name
,M2.firstname || ' ' || M2.surname as recommended_name
FROM `Members` as M1
INNER JOIN Members as M2
on M2.recommendedby = M1.memid
WHERE M2.recommendedby >= 1

ORDER BY recommended_name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Darren Smith', 'Anna Mackenzie')
('Ponder Stibbons', 'Anne Baker')
('Darren Smith', 'Charles Owen')
('Janice Joplette', 'David Jones')
('Jemima Farrell', 'David Pinker')
('David Jones', 'Douglas Jones')
('Tracy Smith', 'Erica Crumpet')
('Ponder Stibbons', 'Florence Bader')
('Darren Smith', 'Gerald Butters')
('Matthew Genting', 'Henrietta Rumney')
('Tracy Smith', 'Henry Worthington-Smyth')
('Darren Smith', 'Jack Smith')
('Darren Smith', 'Janice Joplette')
('Timothy Baker', 'Joan Coplin')
('Millicent Purview', 'John Hunt')
('Gerald Butters', 'Matthew Genting')
('Tracy Smith', 'Millicent Purview')
('Janice Joplette', 'Nancy Dare')
('Burton Tracy', 'Ponder Stibbons')
('Florence Bader', 'Ramnaresh Sarwin')
('Tim Rownam', 'Tim Boothe')
('Jemima Farrell', 'Timothy Baker')

In [ ]:
#/* Q12: Find the facilities with their usage by member, but not guests */

In [16]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT
facid
,memid
,SUM(CASE WHEN memid >= 0 THEN 1 else null end) as Member_usage
FROM `Bookings`
WHERE memid > 0

GROUP BY facid, memid;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 2, 30)
(0, 3, 6)
(0, 4, 19)
(0, 5, 57)
(0, 6, 31)
(0, 7, 25)
(0, 8, 4)
(0, 9, 1)
(0, 10, 17)
(0, 11, 25)
(0, 12, 6)
(0, 13, 1)
(0, 14, 22)
(0, 15, 1)
(0, 16, 14)
(0, 17, 16)
(0, 20, 1)
(0, 22, 7)
(0, 24, 5)
(0, 26, 9)
(0, 28, 6)
(0, 35, 4)
(0, 36, 1)
(1, 1, 19)
(1, 2, 2)
(1, 3, 6)
(1, 4, 8)
(1, 5, 3)
(1, 6, 3)
(1, 7, 11)
(1, 8, 52)
(1, 9, 31)
(1, 10, 41)
(1, 11, 30)
(1, 12, 35)
(1, 13, 1)
(1, 14, 1)
(1, 15, 8)
(1, 16, 7)
(1, 24, 11)
(1, 27, 1)
(1, 28, 1)
(1, 30, 1)
(1, 35, 4)
(2, 1, 132)
(2, 2, 32)
(2, 3, 4)
(2, 5, 20)
(2, 6, 2)
(2, 7, 10)
(2, 8, 12)
(2, 9, 16)
(2, 10, 6)
(2, 11, 8)
(2, 12, 10)
(2, 13, 7)
(2, 14, 12)
(2, 15, 9)
(2, 16, 7)
(2, 17, 7)
(2, 21, 30)
(2, 24, 7)
(2, 26, 2)
(2, 29, 4)
(2, 30, 2)
(2, 33, 1)
(2, 35, 2)
(2, 36, 2)
(3, 1, 28)
(3, 2, 28)
(3, 3, 69)
(3, 4, 9)
(3, 5, 1)
(3, 6, 24)
(3, 7, 5)
(3, 8, 4)
(3, 9, 3)
(3, 10, 24)
(3, 11, 11)
(3, 12, 1)
(3, 13, 12)
(3, 14, 5)
(3, 15, 42)
(3, 16, 24)
(3, 17, 17)
(3, 20, 26)
(3, 21, 16)
(3, 22, 21)
(3, 24, 3)
(3, 29, 3)
(3, 30, 6)
(3, 35, 1)
(3, 36, 2)
(4, 1, 28)
(4, 2, 6)
(4, 3, 80)
(4, 4, 12)
(4, 5, 32)
(4, 6, 31)
(4, 7, 19)
(4, 8, 36)
(4, 9, 19)
(4, 10, 11)
(4, 11, 19)
(4, 12, 3)
(4, 13, 29)
(4, 14, 27)
(4, 16, 24)
(4, 17, 3)
(4, 20, 25)
(4, 21, 1)
(4, 22, 1)
(4, 24, 8)
(4, 29, 1)
(4, 33, 1)
(4, 35, 3)
(4, 36, 2)
(5, 3, 2)
(5, 4, 2)
(5, 5, 1)
(5, 7, 5)
(5, 10, 2)
(5, 11, 4)
(5, 12, 2)
(5, 14, 1)
(5, 15, 2)
(5, 20, 1)
(5, 22, 2)
(5, 24, 3)
(6, 1, 14)
(6, 2, 6)
(6, 4, 14)
(6, 5, 9)
(6, 6, 35)
(6, 8, 12)
(6, 9, 2)
(6, 10, 7)
(6, 11, 8)
(6, 12, 49)
(6, 13, 8)
(6, 14, 9)
(6, 15, 2)
(6, 16, 5)
(6, 17, 3)
(6, 21, 2)
(6, 22, 1)
(6, 24, 2)
(6, 26, 1)
(6, 27, 2)
(6, 28, 1)
(6, 30, 1)
(6, 33, 1)
(6, 35, 1)
(7, 1, 12)
(7, 2, 45)
(7, 4, 68)
(7, 5, 34)
(7, 6, 20)
(7, 7, 23)
(7, 8, 43)
(7, 9, 20)
(7, 10, 22)
(7, 11, 2)
(7, 13, 21)
(7, 14, 5)
(7, 15, 33)
(7, 17, 16)
(7, 20, 1)
(7, 21, 7)
(7, 22, 10)
(7, 24, 18)
(7, 27, 14)
(7, 28, 1)
(7, 30, 1)
(7, 33, 5)
(8, 1, 28)
(8, 2, 61)
(8, 3, 241)
(8, 4, 27)
(8, 5, 6)
(8, 6, 30)
(8, 7, 19)
(8, 8, 25)
(8, 9, 12)
(8, 10, 1)
(8, 11, 8)
(8, 12, 12)
(8, 13, 1)
(8, 14, 7)
(8, 15, 23)
(8, 16, 85)
(8, 17, 9)
(8, 20, 18)
(8, 21, 70)
(8, 22, 11)
(8, 24, 13)
(8, 26, 2)
(8, 27, 3)
(8, 28, 25)
(8, 29, 33)
(8, 30, 5)
(8, 33, 8)

In [ ]:
#/* Q13: Find the facilities usage by month, but not guests */

In [18]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT
strftime('%m',starttime) as Month
,facid
,SUM(CASE WHEN memid >= 0 THEN 1 else null end) as Member_usage
FROM `Bookings`
WHERE memid > 0

GROUP BY Month, facid;

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 0, 65)
('07', 1, 41)
('07', 2, 51)
('07', 3, 48)
('07', 4, 77)
('07', 5, 4)
('07', 6, 23)
('07', 7, 68)
('07', 8, 103)
('08', 0, 111)
('08', 1, 109)
('08', 2, 132)
('08', 3, 143)
('08', 4, 153)
('08', 5, 9)
('08', 6, 85)
('08', 7, 154)
('08', 8, 272)
('09', 0, 132)
('09', 1, 126)
('09', 2, 161)
('09', 3, 194)
('09', 4, 191)
('09', 5, 14)
('09', 6, 87)
('09', 7, 199)
('09', 8, 408)